*{margin:0}
div{background:radial-gradient(ellipse at bottom,#1e2027 25%,#2d3449 100%);width:100vw;height:100vh;display:flex;align-items:center;justify-content:center}
.title{font-size:3rem;text-shadow:0 0 2rem #191a1d}
