@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Black+Han+Sans&display=swap');

*{margin:0;}

body {
    position: relative;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100vw;
    height:100vh;
    overflow: hidden;
}

img {
    position: absolute;
    height:100%;
    width:auto;
}

h5{
    position: absolute;
    z-index: 10;

    color:white;
    text-shadow: 0 0 1rem black;

    font-size:2rem;
    font-family: "Do Hyeon";

    /*background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

button {
    position: absolute;
    bottom: 35vh;
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    font-family: "Do Hyeon";
    font-size: 1rem;
    background:linear-gradient(to left, rgb(245, 202, 27), #e9f90a);
    border-radius: 5rem;
    border:none;
    box-shadow: 0 0 1rem black;
    transition: all 0.5s ease-in-out;
}
button:hover {
    bottom:36vh;
    color: yellow;
    background: white;
}