
#LOGOSEC{
  position: absolute;

  width: 100vw;
  height: 100vh;
  overflow:hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LOGOSEC > hr {
  width: calc(var(--logo-size)*(1.125*1.61803398875));
  height: auto;
  margin: calc(var(--logo-size)/(1.75*1.61803398875)) 0;
  display:block;

  background:var(--black);
  height:1px;
  border:0;
  border-radius: 1rem;
}

.center{
  position: relative;

  width: calc(var(--logo-size) + 1rem);
  height: calc(var(--logo-size) + 1rem);

  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute; /* Reposition logo from the natural layout */
  width: calc(var(--logo-size) + 0.5rem);
  height: calc(var(--logo-size) + 0.5rem);
  z-index: 2;
}

#canvas {
  position: absolute; /* Reposition logo from the natural layout */
  width: var(--logo-size);
  height: var(--logo-size);
  
  background-color: var(--black2);
}
#canvas canvas {
  width: var(--logo-size);
  height: var(--logo-size);
}