@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poller+One&family=Orbit&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --logo-size:9.25rem;

  --white:  #fbf8f0;
  --white2: #c7c5bf;
  --white3: #93928e;
  --white4: #5f5f5c;
  --black: #161825;
  --black2: #2c304b;
  --black3: #424871;
}