/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: rgb(245 245 245);
    --sidebar-color: #FFF;
    --primary-color: #5a5a5a;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #4a4a4a;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    /* ===== Any ===== */
    --button-play-width: 45px;
    --button-play-mxwidth: 75px;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}
/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 70px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    position: relative;
    top: 75px;

    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.home .text .title{
    
    text-align: center;
    
    font-size: 60px;

    transition: var(--tran-04);
}

.namelogo{
    position: relative;

    width: 120px;
    height: auto;

    top: 40px;

    transition: var(--tran-04);
}

.link{
    color: var(--text-color);
    font-size:25px;

    border: 2px solid var(--body-color);
    border-radius: 1px;
    transition: var(--tran-04);
}
.link:hover{
    color: var(--text-color);
    font-size:30px;

    border: 2px solid var(--text-color);
    border-radius: 12px;
    transition: var(--tran-04);
}

.greenbtn{
    position: relative;
    background-color: rgb(105 255 105);
    border: 0;
    outline: 0;

    border-radius: 5px;

    text-align: center;

    font-size:25px;
    font-weight: var(--button-play-width);

    color: var(--body-color);

    width: var(--button-play-width);
    height: 35px;
    transition: var(--tran-03);
}
.greenbtn:hover{
    background-color: rgb(105 255 105);
    outline: 0;

    font-size:25px;
    font-weight: var(--button-play-mxwidth);

    color: var(--text-color);
    
    width: var(--button-play-mxwidth);
    transition: var(--tran-04);
}

.bluebtn{
    background-color: rgb(50, 230, 19);
    border: 0;
    outline: 0;

    border-radius: 5px;

    font-size:25px;
    color: rgb(140,140,140);

    width: 80px;
    height: 35px;
    transition: var(--tran-04);
}
.bluebtn:hover{
    background-color: rgb(55, 225, 17);
    outline: 0;
    border: 0;

    font-size:25px;
    color: rgb(125,125,125);

    width: 95px;
    height: 35px;
    transition: var(--tran-04);
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.mainpg{
    position:relative;
    align-content: center;
    top:100px;
}

.mainpg .maintext{
    font-size: 80px;
    transition: var(--tran-04);
}
.mainpg .submaintext{
    position: relative;
    font-size: 40px;

    bottom: 20px;
    transition: var(--tran-04);
}

.mainpg .lmbtn{
    position:relative;
    background-color: rgba(0, 0, 0, 0);

    width: 300px;
    
    color: var(--text-color);
    font-size: 30px;

    top: 60px;

    outline: none;
    box-shadow: none;
    
    border: 3px solid #4a4a4a;
    border-radius: 10px;
    border-color: var(--text-color);

    transition: var(--tran-02);
}

.mainpg .lmbtn:hover{
    background-color: rgba(75, 75, 75, 1);
    color: var(--body-color);
}

.Banner{
    width: 100%;
    height: auto;
}

.link{
    color: var(--text-color);
}

/* ===== footer ===== */
.ftext{
    padding-top: 200px;
    
    font-size: 20px;
    text-align: center;
    
    color: var(--text-color);   
}
