/* ÃƒÂ«Ã‚Â©Ã¢â‚¬ÂÃƒÂ«Ã¢â‚¬Â°Ã‚Â´ */
header {
  position: fixed;
  z-index: 1;
  top:0px;
  left:0px;
  bottom:0px;
  weight: 5px;
  padding: 0px;
  color: white;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: left;
  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.3s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}

/* ÃƒÂ¬Ã…Â¡Ã‚Â°ÃƒÂ¬Ã¢â‚¬â€Ã‚Â¥ ÃƒÂ¬Ã…Â Ã‚Â¤ÃƒÂ­Ã…Â Ã…â€œÃƒÂ«Ã¢â‚¬ÂÃ¢â‚¬ÂÃƒÂ¬Ã‹Å“Ã‚Â¤ ÃƒÂ«Ã‚Â²Ã¢â‚¬Å¾ÃƒÂ­Ã…Â Ã‚Â¼ */
.menubutton {
  position: relative;
  width: 75px;
  height: 75px;

  top:20px;
  left:0px;
  right:0px;

  color: white;
  background-color: rgb(0, 0, 0);

  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.3s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.menuimg {
  position: relative;
  align: left;

  left: 0px;
  top: 0px;

  width: 50px;
  height: auto;

  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

.menubutton2 {
  position: relative;
  width: 75px;
  height: 75px;

  top:70px;
  left:0px;
  right:0px;

  color: white;
  background-color: rgb(0, 0, 0);

  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.3s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.menuimg2 {
  position: relative;
  align: left;

  left: 0px;
  top: 0px;

  width: 50px;
  height: auto;

  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

.menubutton3 {
  position: relative;
  width: 75px;
  height: 75px;

  top:70px;
  left:0px;
  right:0px;

  color: white;
  background-color: rgb(0, 0, 0);

  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.3s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.menuimg3 {
  position: relative;
  align: left;

  left: 0px;
  top: 0px;

  width: 50px;
  height: auto;

  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

.button:hover {
  position: relative;
  width: 175px;
  height: 75px;
  align-items: left;

  color: white;
  background-color: rgb(25, 25, 25);

  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.3s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

/* ë³¸ë¬¸ */
.p {
  position: relative;

  text-align: left;

  padding-top: 100px;
  padding-left: 200px;
  font-size: 200%;

  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.4s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.title {
  position: relative;

  text-align: center;
  left: 25px;
  top: 75px;

  font-size: 200%;

  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:0.4s;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1000px) {
  .p{
   font-size: 200%;
   padding-left: 100px;
  }
}
@media (max-width: 800px) {
  .p{
    font-size: 150%;
    width: 480px;
    padding-left: 85px;
  }
}
@media (max-width: 550px) {
  .p{
    font-size: 100%;
    width: 350px;
    padding-left: 60px;
    left: 35px;
  }
}
@media (max-width: 450px) {
  .p{
    font-size: 75%;
    width: 200px;
    padding-left: 50px;
    left: 35px;
  }
}
@media (max-width: 300px) {
  .p{
    font-size: 50%;
    width: 100px;
    padding-left: 35px;
    left: 35px;
  }
}

@media (max-width: 800px) {
  .text{
    font-size: 150%;
  }
}
@media (max-width: 550px) {
  .text{
    font-size: 100%;
    left: 35px;
  }
}
@media (max-width: 450px) {
  .text{
    font-size: 75%;
    left: 35px;
  }
}
@media (max-width: 300px) {
  .text{
    font-size: 50%;
    left: 35px;
  }
}
