
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Indie+Flower&family=Karla:wght@800&family=Nunito:wght@500&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Do+Hyeon&display=swap');

* {font-family: 'Nunito', sans-serif;}

body {
  background-color:#FFF;
  justify-content: center;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
   display: none;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.title{
  position: relative;

  font-family: 'Dongle', sans-serif;

  text-align: center;

  padding-bottom: 1000px;

  font-size: 100px;

  background:linear-gradient(to right,rgb(105, 255, 105) 0%,rgba(15, 255, 235, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gbutton{

  width: 200px;
  height: 70px;

  border-radius: 15px;
  border-width: 0px;

  font-size: 30px;
  font-family: 'Nunito', sans-serif;

  background:linear-gradient(to right,#0F0,#1F1)

}

.blackvid{
  position: relative;
}
.pad{
  font-size: 20px;
  font-family: 'Karla', sans-serif;

  padding: 0.5rem;
}

header {
  position: fixed ;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  padding: 1.5rem;
  color: black;
  background-color: rgba( 155, 155, 155, 0.5 );
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

.logoimg{
  max-width: 20%;
  height: auto;
  content:url("https://cdn.discordapp.com/attachments/905771094370295900/967186287419330700/106_20220423071113.png");
}

@media (max-width: 800px) {
  .logoimg{
    max-width: 20%;
    height: auto;
    content:url("https://cdn.discordapp.com/attachments/905771094370295900/967269659210563645/110_20220423124406.png");
  }
}

.secbody{

  position: relative;

  width: 100%;
  height:auto;

  background: linear-gradient(to bottom, rgb(55,55,55) 0%, rgba(0,0,0,1) 100%);

}

.p2{

  position: relative;

  width: 100%;
  height:150px;

  background: linear-gradient(to bottom, rgb(255,255,255) 0%, rgba(225,225,225,1) 100%);
}

.About{

  position: relative;

  width: 100%;
  height:700px;

  background-color: rgb(225,225,225);
}

.p3{

  position: relative;

  width: 100%;
  height:150px;

  bottom: 125px;

  background: linear-gradient(to bottom, rgb(225,225,225) 0%, rgba(200,200,200,1) 100%);

}

.h1{

  position: relative;
  top: 35px;

  font-size: 75px;

  background: linear-gradient(to right, rgb(100,100,100) 0%, rgba(0,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.p2p{

    position: relative;
    top: 100px;

    z-index: 2;

    font-size: 35px;
    font-family: 'Poor Story', sans-serif;

    text-align: center;

    padding-bottom: 100px;
    padding-top: 100px;

    background: linear-gradient(to left, rgb(155,155,155) 0%, rgba(55,55,55,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cmessage{

  font-size: 25px;
  font-family: "Nunito", sans-serif;

}

.islet{

  position:relative;

  bottom: 130px;

  width: 100%;
  height: auto;

  background-color: rgb(200,200,200);

}

.isletimg{

  width: 100%;
  height:auto;

}
